div {
    width: 400px;
    height: 400px;
    margin: 20px;
    padding: 20px;
    background-image: url(../images/squares.png);
    background-color: #eeeeee;
    color: white;
    display: inline-block;
    background-size: 80%;
    box-sizing:border-box;  /*To be explained later in the course - keeps the paddign internal in the box and reduce the size of the space available for content*/
}

.assign-4-shape-1 {
    background-repeat: no-repeat;
}
.assign-4-shape-2 {
    background-repeat: repeat-y;
    background-position: bottom right;
}
.assign-4-shape-3 {
    background-repeat: repeat-x;
    background-position: bottom center;
}
.assign-4-shape-4 {
    background-repeat: no-repeat;
    background-position: bottom right;
    background-size: 50%;
}
